<header id="admin-header">
    <a href="/products"><img src="../images/favicon.ico" alt="" loading="lazy" class="lazy-load" /></a>
    <nav>
        <a href="/producten-overzicht/toevoegen">Product toevoegen</a>
        <form id="logout" action="/admin-logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>