<header id="header">
    <a href="/products"><img src="images/favicon.ico" alt="" loading="lazy" class="lazy-load" /></a>
    <nav>
        <a href="/voorkeuren">Voorkeuren</a>
        <a href="/wishlist">Wishlist</a>
        <form id="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>