<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Koop Dieren</title>
        <link rel="stylesheet" href="/styles/css/hoofdpagina.css" />
        <link rel="stylesheet" href="/styles/css/404.css" />
        <link rel="stylesheet" href="/styles/css/style.css" />
        <link rel="stylesheet" href="/styles/css/productsOverview.css" />
        <link rel="stylesheet" href="/styles/css/voorkeuren.css" />
        <link rel="stylesheet" href="/styles/css/confirm-page.css" />
        <link rel="stylesheet" href="/styles/css/adminAddProducts.css" />
        <link rel="stylesheet" href="/styles/css/login.css" />
        <link rel="stylesheet" href="/styles/css/signUp.css" />
        <link rel="stylesheet" href="/styles/css/admin-aanpassen.css" />
        <link rel="stylesheet" href="/styles/css/productPageAdmin.css" />
        <link rel="stylesheet" href="/styles/css/admin-login.css" />
        <link rel="stylesheet" href="/styles/css/detail.css" />
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />

    </head>
    <body id="mainHandlebars">

        {{> header}}

        {{{body}}}

    </body>

</html>