<html>
    <head>
        <meta charset="utf-8" />
        <title>Koop Dieren</title>
        <link rel="stylesheet" href="/styles/404.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/productsOverview.css" />
        <link rel="stylesheet" href="/styles/voorkeuren.css" />
        <link rel="stylesheet" href="/styles/adminAddProducts.css" />
    </head>
    <body id="mainHandlebars">

        {{{body}}}

    </body>
</html>