<html>
    <head>
        <meta charset="utf-8" />
        <title>Koop Dieren</title>
        <link rel="stylesheet" href="/styles/404.css" />
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/productsOverview.css" />
        <link rel="stylesheet" href="/styles/voorkeuren.css">
        <link rel="stylesheet" href="/styles/confirm-page.css">
        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
        

    </head>
    <body id="mainHandlebars">

        {{{body}}}

    <script src="/js/button-click.js"></script>

    </body>

    
</html>


