html,
body {
  height: 100vh;
  width: 100vw;
}

a,
form {
  height: min-content;
}

#admin-aanpassen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2em;
  gap: 2em;
  height: calc(100% - 6em);
  background: rgb(230, 219, 243);
}
#admin-aanpassen div {
  gap: 1em;
  padding: 1em;
  background-color: #eeeeee;
  padding-bottom: 0em;
  position: relative;
  height: fit-content;
  border-radius: 10px;
}
#admin-aanpassen div > section {
  display: flex;
  justify-content: center;
  position: relative;
}
#admin-aanpassen div > section h1 {
  margin-top: 0.5em;
}
#admin-aanpassen div > section a {
  position: absolute;
  left: 0;
  top: 0;
}
#admin-aanpassen div form {
  margin: 0;
  width: 33.7em;
  padding-bottom: 1em;
  height: fit-content;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
#admin-aanpassen div form section:nth-child(6) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#admin-aanpassen div form section:nth-child(6) h2 {
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 3;
  font-family: "poppins-semi-bold", Arial, Helvetica, sans-serif;
}
#admin-aanpassen div form section:nth-child(6) fieldset {
  height: fit-content;
}
#admin-aanpassen div form div {
  background: none;
  order: 1;
  position: absolute;
  top: 2em;
  right: -3em;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#admin-aanpassen div form div img {
  width: 10em;
  height: auto;
}
#admin-aanpassen div form div .otherImg {
  display: flex;
  flex-direction: column;
}
#admin-aanpassen div form > input {
  place-self: end;
  margin-top: 0.5em;
}