#productPageAdmin {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-right: auto;
  background: rgb(230, 219, 243);
  height: 100dvh;
}
#productPageAdmin div {
  width: 80dvw;
  display: grid;
  gap: 1rem;
}
#productPageAdmin input {
  width: 100%;
  height: 3rem;
}
#productPageAdmin #animalsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
#productPageAdmin ul {
  border: 1px solid #4e4c67;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr 0.5fr;
  gap: 1rem;
  background-color: #eeeeee;
}
#productPageAdmin li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin: 0.5rem;
  width: 5em;
  height: 5rem;
}
#productPageAdmin img {
  width: 4rem;
  height: 4rem;
}
#productPageAdmin #delBtn {
  border: none;
  background: none;
  padding: 0;
}
#productPageAdmin .icon {
  height: auto;
  width: 2rem;
}