/* General styling */
body {
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

.background-image2 {
  background-image: url("/images/paws2.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.signupH {
  text-align: center;
  color: white;
  font-size: 1.2em;
  margin: 1em auto;
}

#signupForm .of-P {
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 0.3em;
  color: white;
}

/* signupForm styling */
#signupForm fieldset {
  border: none;
  padding: 0;
}

#signupForm section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#signupForm section > * {
  margin: 1em;
}

#signupForm {
  border: 0em solid #4e4c67;
  border-radius: 0.4em;
  background-color: rgba(34, 26, 69, 0.3333333333);
  max-width: 25em;
  padding: 1.25em;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#signupForm::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0.6em); /* Adjust the blur strength as needed */
  z-index: -1;
  border-radius: 0.4em;
}
#signupForm label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
  text-align: left;
  padding-left: 3.5em;
  color: white;
}
#signupForm input[type=naam],
#signupForm input[type=email],
#signupForm input[type=leeftijd],
#signupForm input[type=password],
#signupForm input[type=gebruikersnaam],
#signupForm input[type=username] {
  border: 0.01em solid #dcd6f7;
  border-radius: 0.1875em;
  font-size: 1em;
  padding: 0.625em;
  width: 80%;
  display: block;
  margin: 1em auto;
  margin-top: 0.5em;
}
#signupForm button[type=submit] {
  background-color: #dcd6f7;
  border: none;
  border-radius: 0.4em;
  color: #242424;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 0.625em;
  width: 80%;
  margin: 1em;
}
#signupForm button[type=submit]:hover {
  background-color: #a6b1e1;
}
#signupForm input:required:invalid {
  color: #4e4c67;
  border-color: #4e4c67;
  border-width: 0.1em;
  border-style: solid;
}
#signupForm input:required:-moz-placeholder-shown {
  border-color: #98e6bf;
  border-width: 0.1em;
  border-style: solid;
}
#signupForm input:required:-ms-input-placeholder {
  border-color: #98e6bf;
  border-width: 0.2em;
  border-style: solid;
}
#signupForm input:required:valid,
#signupForm input:required:placeholder-shown {
  border-color: #98e6bf;
  border-width: 0.2em;
  border-style: solid;
}