@font-face {
  font-family: "poppins-bold";
  src: url(../../fonts/Poppins-Bold.woff2);
  font-weight: bolder;
}
@font-face {
  font-family: "poppins-semi-bold";
  src: url(../../fonts/Poppins-SemiBold.woff2);
  font-weight: bold;
}
@font-face {
  font-family: "poppins-medium";
  src: url(../../fonts/Poppins-Medium.woff2);
}
@font-face {
  font-family: "poppins-regular";
  src: url(../../fonts/Poppins-Regular.woff2);
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: fit-content;
  background-color: #eeeeee;
  font-family: "poppins-regular", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

/* The hide class */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

b {
  font-family: "poppins-semi-bold", Arial, Helvetica, sans-serif;
}

button,
summary {
  cursor: pointer;
  font-family: "poppins-semi-bold", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.buttonPrimary,
.submitButton {
  color: #4e4c67;
  background-color: #dcd6f7;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: fit-content;
  font-size: 1.4rem;
}

.buttonPrimary:hover,
.submitButton:hover {
  background-color: #a6b1e1;
}

img {
  width: 6.25em;
  height: auto;
}

header {
  height: 4em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header img {
  width: 4em;
  height: auto;
}
header nav {
  place-content: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 24em;
  align-items: center;
}
header nav a {
  width: fit-content;
  color: #232323;
  height: fit-content;
}
header nav form {
  width: fit-content;
  margin: 0;
}
header nav form button {
  width: fit-content;
}

form {
  width: 80%;
  margin: auto;
  display: grid;
  gap: 0.5rem;
}