#voorkeurenForm {
  border: 1px solid #ccc;
  border-radius: 0.2em;
  box-shadow: 0em 0em 0.3125em rgba(0, 0, 0, 0.1);
  background-color: #d5eeff;
  max-width: 25em;
  padding: 1.25em;
  margin: 0 auto;
  text-align: center;
}
#voorkeurenForm select {
  margin-bottom: 2em;
  padding: 0.3125em;
  font-size: 1em;
  background-color: #fbf5ff;
  border-radius: 0.2em;
  text-align: center;
}
#voorkeurenForm button {
  display: block;
  margin: 0 auto;
}

.voorkeurenLabel {
  display: block;
  font-weight: bold;
  margin-bottom: 0.625em;
}

.error-message {
  color: red;
}