#h2wish {
  text-align: center;
  font-size: 2em;
}

.wishlist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.wishlist div {
  background-color: rgb(230, 219, 243);
}

.list-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-item form {
  grid-column: span 2;
}

#terugwish {
  position: fixed;
  bottom: 1em;
  left: 1em;
  color: black;
}