<head>
    <title>Admin Login</title>
</head>
<body class="background-image">
    <main>
        <form id="adminForm" action="/admin-login" method="POST">
            <h1 class="loginH">Welkom Admin</h1>
                {{#if error}}
                    <p class="error-message">{{error}}</p>
                {{/if}}
            <fieldset>
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                <input type="username" id="adminGebruikersnaam" name="gebruikersnaam" />
            </fieldset>
            
            <fieldset>
                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="adminWachtwoord" name="wachtwoord" />
            </fieldset>

            <button class="formButton" type="submit">Login</button>

            <script src="/js/login.js"></script>
        </form>
    </main>
</body>