<header>
    <section>
    </section>
    <nav>
        <form id="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>

<main id="thankYouPage">
    <h1>thanks</h1>

</main>