{{> header}}


<main id="thankYouPage">

    {{#with person}}
    <section>
            <h1>Bedankt, {{{name}}} dat u een afspraak wilt maken om {{../doggo.naam}} te ontmoeten. </h1>
        
        <h2>We zien u graag op {{date}}, om {{time}}</h2>
    </section>
    {{/with}}

</main>