<header>
    <section>
    </section>
    <nav>
        <form id="logout" action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>

<main id="thankYouPage">

    <section>
        {{#with person}}
            <h1>Bedankt, {{name}} dat u een afspraak wilt maken om {{../doggo.naam}} te ontmoeten. </h1>
        {{/with}}
    </section>

    <section>

    </section>

</main>