<body class="background-color">
    <main>
        <div class="container">
            <h1>Welkom bij onze app!</h1>
            <p>Wij bieden jou de mogelijkheid om dieren te matchen op basis van jouw persoonlijke voorkeuren. Ontdek welk dier het beste bij jou past en begin
                aan een uniek avontuur. Of je nu op zoek bent naar een trouwe viervoeter, een gezellig knaagdier of een kleurrijke vogel.

            </p>
            <p>
                Bij ons kun je inloggen met je bestaande account of eenvoudig een nieuw account aanmaken om direct van start te gaan. Eenmaal ingelogd, kun je
                jouw voorkeuren instellen en ons matchingsysteem gebruiken om dieren te vinden die perfect passen bij jouw levensstijl en wensen. Onze app staat
                klaar om je te helpen bij het vinden van jouw ideale huisdier. Dus waar wacht je nog op? Maak vandaag nog een account aan of log in en begin aan
                een avontuur vol liefde en vriendschap met jouw perfecte dierenvriend!
            </p>

            <a href="/login" class="button" type="submit">Login</a>
            <a href="/signUp" class="button" type="submit">Maak een account</a>
        </div>
        <script src="js/gulp-js/voorkeuren.js"></script>
    </main>
    <footer></footer>
</body>