<html>  
<body class="background-image">
    <main>
        <form id="loginForm" action="/login" method="POST">
            <h1 class="loginH">Welkom bij dierenshop!</h1>

            {{#if error}}
                <p class="error-message">{{error}}</p>
            {{/if}}

            <fieldset>
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                <input type="username" id="gebruikersnaam" name="gebruikersnaam" required />
            </fieldset>

            <fieldset>
                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="wachtwoord" name="wachtwoord" required />
            </fieldset>

            <section>
                <button type="submit">Login</button>
                <a class="googleButton" href="/auth/google">Login met Google</a>
            </section>

            <h3 class="formH3" >Of</h3>
            <a href="/signUp" class="formButton" type="submit">Maak een account</a>
        </form>

        <script src="/js/gulp-js/login.js"></script>
    </main>
</body>
</html>