<html>  
<body class="background-image">

    <form id="loginForm" action="/login" method="POST">
        <h1 class="loginH">Welkom bij dierenshop!</h1>
        <section>
            <label for="username">Gebruikersnaam:</label>
            <input type="username" id="gebruikersnaam" name="gebruikersnaam" required />
        </section>

        <section>
            <label for="password">Wachtwoord:</label>
            <input type="password" id="wachtwoord" name="wachtwoord" required />
            {{#if error}}
                <p class="error-message">{{error}}</p>
            {{/if}}
        </section>

        <section>
            <button type="submit">Login</button>
        </section>

        <h3 class="formH3" >Of</h3>
        <a href="/signUp" class="formButton" type="submit">Maak een account</a>
    </form>
</body>
</html>