<main>
    <section id="page-not-found">
        <img src="images/404page.png" alt="404 page not found lionel richie image" />
        <h1>Click on my head</h1>
        <button>play some music!!!</button>
        <a href="/login"></a>
    </section>
</main>
<script src="js/notfound.js"></script>