<body class="background-image2">
    <main>
        <form id="signupForm" action="/signup" method="POST">
            <h1 class="signupH">Vul de onderstaande informatie in om een account te maken</h1>

            {{#if error}}
                <p class="error-message">{{error}}</p>
            {{/if}}

            <fieldset>
                <label for="naam">Naam:</label>
                <input type="naam" id="naam" name="naam" required />
            </fieldset>

            <fieldset>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required />
            </fieldset>

            <fieldset>
                <label for="leeftijd">Leeftijd:</label>
                <input type="leeftijd" id="leeftijd" name="leeftijd" required />
            </fieldset>

            <fieldset>
                <label for="gebruikersnaam">Gebruikersnaam:</label>
                <input type="gebruikersnaam" id="gebruikersnaam" name="gebruikersnaam" required />
            </fieldset>

            <fieldset>
                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="wachtwoord" name="wachtwoord" required />
            </fieldset>

            <fieldset>
                <label for="wachtwoordBevestigen">Wachtwoord bevestigen:</label>
                <input type="password" id="wachtwoordBevestigen" name="wachtwoordBevestigen" required />
            </fieldset>

            <section>
                <button id="signUp" type="submit">Sign Up</button>
                <p class="of-P">of</p>
                <a class="formButton" href="/login" id="loginButton" type="button">Log in</a>
            </section>
        </form>
    </main>
    
    <script src="/js/gulp-js/signup.js"></script>
</body>