<head>
  <h1>Chose your preferences</h1>
</head>
<main>

<p>You must choose from each item</p>

<div id="checkboxes">
  <label>
    <input type="checkbox" id="Active" class="hashtag-checkbox"> Active animal
    <input type="checkbox" id="Quiet" class="hashtag-checkbox"> Quiet animal
  </label>
  <div id="AantalSection1">
    <p id="styleText1"></p>
  </div>
  <label>
    <input type="checkbox" id="Inside" class="hashtag-checkbox"> Inside animal
    <input type="checkbox" id="Outside" class="hashtag-checkbox"> Outside animal
    <input type="checkbox" id="Both" class="hashtag-checkbox"> Both
  </label>
  <div id="AantalSection2">
    <p id="styleText2"></p>
  </div>
  <label>
    <input type="checkbox" id="Big" class="hashtag-checkbox"> Big animal
    <input type="checkbox" id="Small" class="hashtag-checkbox"> Small animal
    <input type="checkbox" id="Middle" class="hashtag-checkbox"> Middle
  </label>
  <div id="AantalSection3">
    <p id="styleText3"></p>
  </div>
  <label>
    <input type="checkbox" id="Night" class="hashtag-checkbox"> Night animal
    <input type="checkbox" id="Day" class="hashtag-checkbox"> Day animal
  </label>
  <div id="AantalSection4">
    <p id="styleText4"></p>
  </div>
</div>


<a href="#">
  <button id="nextButton">Next</button>
</a>
<script src="js/voorkeuren.js"></script>

</main>

    <footer></footer>