<head>
    <title>Preferences</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
    <header>
        <img src="images/favicon.ico" alt="" loading="lazy"/>
        <nav>
            <a href="/products">Producten</a>
            <a href="/voorkeuren-opgeslagen">Voorkeuren</a>
            <a href="/wishlist">Wishlist</a>
            <form id="logout" action="/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <h1>Preferences</h1>
    <p><strong>Energielevel:</strong> {{energielevel}}</p>
    <p><strong>Leefstijl:</strong> {{leefstijl}}</p>
    <p><strong>Grootte:</strong> {{grootte}}</p>
    <p><strong>Slaapritme:</strong> {{slaapritme}}</p>

    <a href="/voorkeuren">Voorkeuren aanpassen</a>

</body>