
<form id="voorkeurenForm" action="/voorkeuren" method="POST">
  <label class="voorkeurenLabel" for="energielevel">Hoe actief mag het dier zijn?</label>
  <select id="energielevel" name="energielevel">
    <option value="rustig">Rustig</option>
    <option value="actief">Normaal</option>
    <option value="actief">Actief</option>
  </select>

  <label class="voorkeurenLabel" for="leefstijl">Wil je liever een binnen of buiten dier?</label>
  <select id="leefstijl" name="leefstijl">
    <option value="Binnen">Binnen dier</option>
    <option value="Buiten">Buiten dier</option>
    <option value="Beiden">Binnen/buiten dier</option>
  </select>

  <label class="voorkeurenLabel" for="grootte">Hoe groot mag het dier zijn?</label>
  <select id="grootte" name="grootte">
    <option value="Klein">Klein</option>
    <option value="Middel">Middel</option>
    <option value="Groot">Groot</option>
    <option value="Size doesn't matter">Geen voorkeur</option>
  </select>

  <label class="voorkeurenLabel" for="slaapritme">Wanneer wil je dat je dier actief is?</label>
  <select id="slaapritme" name="slaapritme">
    <option value="nacht">S'ochtends</option>
    <option value="dag">Overdag</option>
    <option value="ochtend/avond">S'avonds</option>
    <option value="geen voorkeur">S'nachts</option>
  </select>

  <button type="submit">Submit</button>
</form>
