<body class="background-image2">
    <head>

    </head>
    <main class="voorkeuren">
        <form id="voorkeurenForm" action="/voorkeuren" method="POST">
            <h1 class="voorkeurenH">Kies uw voorkeur</h1>
            <noscript id="enhancement">
                <p>U zult alle voorkeuren moeten invullen om de beste resultaten te krijgen.</p>
            </noscript>
            <p class="voorkeurenP">U zal elk onderdeel in moeten vullen</p>
            <label class="voorkeurenLabel" for="energielevel">Hoe actief mag het dier zijn?</label>
            <select id="energielevel" name="energielevel">
                <option>--</option>
                <option value="rustig">Rustig</option>
                <option value="normaal">Normaal</option>
                <option value="actief">Actief</option>
            </select>
            <p id="styleText1"></p>

            <label class="voorkeurenLabel" for="leefstijl">Wil je liever een binnen of buiten dier?</label>
            <select id="leefstijl" name="leefstijl">
                <option>--</option>
                <option value="Binnen">Binnen dier</option>
                <option value="Buiten">Buiten dier</option>
                <option value="Beiden">Binnen/buiten dier</option>
            </select>
            <p id="styleText2"></p>

            <label class="voorkeurenLabel" for="grootte">Hoe groot mag het dier zijn?</label>
            <select id="grootte" name="grootte">
                <option>--</option>
                <option value="Klein">Klein</option>
                <option value="Middel">Middel</option>
                <option value="Groot">Groot</option>
                <option value="Size doesn't matter">Geen voorkeur</option>
            </select>
            <p id="styleText3"></p>

            <label class="voorkeurenLabel" for="slaapritme">Wanneer wil je dat je dier actief is?</label>
            <select id="slaapritme" name="slaapritme">
                <option>--</option>
                <option value="ochtend">S'ochtends</option>
                <option value="dag">Overdag</option>
                <option value="avond">S'avonds</option>
                <option value="nacht">S'nachts</option>
            </select>
            <p id="styleText4"></p>

            <button id="nextButton" type="submit">Submit</button>
        </form>
        <script src="js/gulp-js/voorkeuren.js"></script>
    </main>
    <footer></footer>
</body>