<head>
    <title>Preferences</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
    <h1>Preferences</h1>
    <p><strong>Energielevel:</strong> {{energielevel}}</p>
    <p><strong>Leefstijl:</strong> {{leefstijl}}</p>
    <p><strong>Grootte:</strong> {{grootte}}</p>
    <p><strong>Slaapritme:</strong> {{slaapritme}}</p>

</body>