$font: "poppins-semi-bold", Arial, Helvetica, sans-serif;
$color-backgroundPurple: rgb(230, 219, 243);
$color-white: #ffffff;

a,
form {
    height: min-content;
}
#admin-aanpassen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    gap: 2em;
    height: calc(100% - 6em);
    background: $color-backgroundPurple;
    div {
        gap: 1em;
        padding: 1em;
        background-color: $color-white;
        padding-bottom: 0em;
        position: relative;
        height: fit-content;
        border-radius: 10px;
        > section {
            display: flex;
            justify-content: center;
            position: relative;
            h1 {
                margin-top: 0.5em;
            }
            a {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        form {
            margin: 0;
            width: 33.7em;
            padding-bottom: 1em;
            height: fit-content;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            section:nth-child(6) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                h2 {
                    font-size: 1em;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    font-family: $font;
                }
                fieldset {
                    height: fit-content;
                }
            }
            div {
                background: none;
                order: 1;
                position: absolute;
                top: 2em;
                right: -3em;
                display: flex;
                flex-direction: column;
                width: fit-content;
                img {
                    width: 10em;
                    height: auto;
                }
                .otherImg {
                    display: flex;
                    flex-direction: column;
                }
            }
            > input {
                place-self: end;
                margin-top: 0.5em;
            }
        }
    }
}
