$color-white: #eeeeee;
$color-black: #232323;
$color-text-white: #eeeeee;
$color-text-black: #232323;
$color-parel-white: #ffffff;
$color-hover-a: #cecece;
// Input colors
$color-input-normal: #4e4c67;
$color-input-error: #f00;
$color-input-expected: #98e6bf;
$background-image: url("/images/paws.jpg");
$primary-color: #242424;
$secondary-color: #252154;
$background-color: #221a4555;
$google-hover-color: #e1e1e1;
$google-input-border-color: #ffff;
$input-border-color: #98e6bf;
$color-primary-button: #dcd6f7;
$color-primary-button-hover: #a6b1e1;
$lack-of-color: #ffff;
$error-color: #ca1e1e;

#confirmPage {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    text-align: center;
    background-image: $background-image;
    background-size: cover;
    background-position: center;
    gap: 1rem;

    section {
        display: grid;
        margin: auto;
        width: 80%;
        border: 0em solid $secondary-color;
        border-radius: 0.4em;
        background-color: $background-color;
        color: $color-white;

        //Blurry background styling
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(0.6em);
            z-index: -1;
            border-radius: 0.4em;
        }
    }
    label {
        display: block;
        font-weight: bold;
        font-size: 1em;
        margin: 0;
        text-align: center;
    }

    input[type="name"],
    input[type="phone"],
    input[type="date"],
    input[type="tim"],
    select {
        border: 0.01em solid $input-border-color;
        border-radius: 0.1875em;
        font-size: 1em;
        padding: 0.625em;
        width: 80%;
        display: block;
        margin: 1em auto;
        margin-top: 0.5em;
    }

    button[type="submit"] {
        background-color: $color-primary-button;
        border: none;
        border-radius: 0.4em;
        color: $primary-color;
        cursor: pointer;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 0.625em;
        width: 80%;
        margin: 1em auto;
    }

    button[type="submit"]:hover {
        background-color: $color-primary-button-hover;
    }

    input:required:invalid {
        color: $secondary-color;
        border-color: $secondary-color;
        border-width: 0.1em;
        border-style: solid;
    }

    input:required:-moz-placeholder-shown {
        border-color: $input-border-color;
        border-width: 0.1em;
        border-style: solid;
    }

    input:required:-ms-input-placeholder {
        border-color: $input-border-color;
        border-width: 0.2em;
        border-style: solid;
    }

    input:required:valid,
    input:required:placeholder-shown {
        border-color: $input-border-color;
        border-width: 0.2em;
        border-style: solid;
    }
}

ul {
    list-style: none;
}

.dogcontainer {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    img {
        width: 100%;
        height: auto;
        border-radius: 0.4em;
    }

    .liIMG {
        display: grid;
        justify-self: end;
    }

    .dogInfo {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-items: start;
        text-align: start;
        gap: 0.5rem;

        li {
            height: min-content;
            display: flex;
            flex-direction: column;
        }
    }
}
