/* General styling */

$background-image: url("/images/dog.jpg");
$primary-color: #242424;
$secondary-color: #4e4c67;
$background-color: #ffffffa0;
$hover-color: #a6b1e1;
$input-border-color: #dcd6f7;
$placeholder-border-color: #98e6bf;

.error-message{
  text-align: center;
}

.background-image {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
}

.loginH {
  text-align: center;
  color: $primary-color;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 1em;
}

.formH3 {
  text-align: center;
  font-size: 1em;
}

/* loginForm styling */

#loginForm fieldset{
  border: none;
  padding: 0;
}

#loginForm {
  border: 0em solid $secondary-color;
  border-radius: 0.4em;
  background-color: $background-color;
  max-width: 25em;
  padding: 1.25em;
  margin-top: 2em;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  label {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="username"] {
    border: 0.01em solid $input-border-color;
    border-radius: 0.1875em;
    font-size: 1em;
    padding: 0.625em;
    width: 80%;
    display: block;
    margin: 1em auto;
    margin-top: 0.5em;
  }

  button[type="submit"] {
    background-color: $input-border-color;
    border: none;
    border-radius: 0.4em;
    color: $primary-color;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.625em;
    width: 80%;
    margin: 1em auto;
  }

  button[type="submit"]:hover {
    background-color: $hover-color;
  }

  input:required:invalid {
    color: $secondary-color;
    border-color: $secondary-color;
    border-width: 0.1em;
    border-style: solid;
  }

  input:required:-moz-placeholder-shown {
    border-color: $placeholder-border-color;
    border-width: 0.1em;
    border-style: solid;
  }

  input:required:-ms-input-placeholder {
    border-color: $placeholder-border-color;
    border-width: 0.2em;
    border-style: solid;
  }

  input:required:valid,
  input:required:placeholder-shown {
    border-color: $placeholder-border-color;
    border-width: 0.2em;
    border-style: solid;
  }
}

/* Neutral form styling */

.formButton {
  background-color: $input-border-color;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 0.4em;
  color: $primary-color;
  cursor: pointer;
  display: block;
  font-size: 1em;
  padding: 0.625em;
  margin: 1em auto;
  font-weight: bold;
  width: 75%;

  &:hover {
    background-color: $hover-color;
  }
}

.question {
  margin-bottom: 1.25em;
}

