$color-white: #eeeeee;
$color-black: #232323;
$color-text-white: #eeeeee;
$color-text-black: #232323;
$color-parel-white: #ffffff;
$color-hover-a: #cecece;
$color-span: red;
$shadow-header: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$color-backgroundPurple: rgb(230, 219, 243);
// Input colors
$color-input-normal: #4e4c67;
$color-input-error: #f00;
$color-input-expected: #98e6bf;
// Button colors
$color-primary-button: #dcd6f7;
$color-primary-button-hover: #a6b1e1;

$color-secondary-button: #98e6bf;
$color-secondary-button-hover: #7dc2b2;

#productPageAdmin {
    display: grid;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-right: auto;
    background: $color-backgroundPurple;

    div {
        width: 80dvw;
        display: grid;
        gap: 1rem;
    }

    input {
        width: 100%;
        height: 3rem;
    }

    #animalsList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    #delBtn {
        height: 1rem;
        width: 1rem;
    }

    ul {
        border: 1px solid $color-input-normal;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: $color-white;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        margin: 0.5rem;
        width: 5em;
        height: 5rem;
    }

    img {
        width: 4rem;
        height: 4rem;
    }
}
