$color-white: #eeeeee;
$color-black: #232323;
$color-text-white: #eeeeee;
$color-text-black: #232323;
$color-parel-white: #ffffff;
$color-hover-a: #cecece;
$color-span: red;
$shadow-header: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
// Input colors
$color-input-normal: #4e4c67;
$color-input-error: #f00;
$color-input-expected: #98e6bf;
// Button colors
$color-primary-button: #dcd6f7;
$color-primary-button-hover: #a6b1e1;

$color-secondary-button: #98e6bf;
$color-secondary-button-hover: #7dc2b2;

// Fonts
@font-face {
    font-family: "poppins-bold";
    src: url(../../fonts/Poppins-Bold.woff2);
    font-weight: bolder;
}
$font-header: "poppins-bold", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "poppins-semi-bold";
    src: url(../../fonts/Poppins-SemiBold.woff2);
    font-weight: bold;
}
$font-button: "poppins-semi-bold", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "poppins-medium";
    src: url(../../fonts/Poppins-Medium.woff2);
}
$font-caption: "poppins-medium", Arial, Helvetica, sans-serif;

@font-face {
    font-family: "poppins-regular";
    src: url(../../fonts/Poppins-Regular.woff2);
}
$font-body: "poppins-regular", Arial, Helvetica, sans-serif;

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    background-color: $color-text-white;
    font-family: $font-body;
    font-size: 1.2em;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

b {
    font-family: $font-button;
}

button,
summary {
    cursor: pointer;
    font-family: $font-button;
    font-size: 1.4rem;
}

.buttonPrimary,
.submitButton {
    color: $color-input-normal;
    background-color: $color-primary-button;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    font-size: 1.4rem;
}

.buttonPrimary:hover,
.submitButton:hover {
    background-color: $color-primary-button-hover;
}

.buttonPrimary:active,
.submitButton:active {
    animation-name: fillButton;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fillButton {
    0% {
        background-color: $color-primary-button-hover;
    }
    100% {
        background-color: $color-input-normal;
    }
}

.buttonPrimary:hover,
.submitButton:hover {
    background-color: $color-primary-button-hover;
}

img {
    width: 6.25em;
    height: auto;
}

header {
    height: 4em;
    box-shadow: $shadow-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    img {
        width: 4em;
        height: auto;
    }
    nav {
        place-content: end;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 24em;
        align-items: center;
        a {
            width: fit-content;
            color: $color-text-black;
            height: fit-content;
        }
        form {
            width: fit-content;
            margin: 0;
            button {
                width: fit-content;
            }
        }
    }
}

form {
    width: 80%;
    margin: auto;
    display: grid;
    align-items: center;
    gap: 0.5rem;
}
