$color-white: #eeeeee;
$color-black: #232323;
$color-text-white: #eeeeee;
$color-text-black: #232323;
$color-parel-white: #ffffff;
$color-hover-a: #cecece;
$color-span: red;
$shadow-header: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
// Input colors
$color-input-normal: #4e4c67;
$color-input-error: #f00;
$color-input-expected: #98E6BF;

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    background-color: $color-text-white;
}

/* The hide class */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}
button,
summary {
    cursor: pointer;
}
img {
    width: 6.25em;
    height: auto;
}

header {
    height: 4em;
    box-shadow: $shadow-header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    section {
        display: flex;
        flex-direction: row;
        width: 30em;
        height: 4em;
        align-items: center;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30em;
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
  }
