$border-color: #ccc;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$background-color: #d5eeff;
$select-background-color: #fbf5ff;
$label-margin-bottom: 0.625em;
$error-color: red;

#voorkeurenForm {
    border: 0em solid #4e4c67;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.6274509804);
    max-width: 25em;
    padding: 1.25em;
    display: block;
    position: absolute;
    left: 95%;
    top: 10em;
    transform: translate(-100%, 0%);
    p {
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        margin-left: 66px;
        color: #a6b1e1;
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        margin-left: 66px;
        color: #a6b1e1;
    }
}

select {
    border: 0.01em solid #dcd6f7;
    border-radius: 0.1875em;
    font-size: 1em;
    padding: 0.625em;
    width: 80%;
    display: block;
    margin: 1em auto;
    margin-top: 0.5em;
    option {
        border: 0.01em solid #242424;
        border-radius: 0.1875em;
        font-size: 1em;
        padding: 0.625em;
        width: 80%;
        display: block;
        margin: 1em auto;
        margin-top: 0.5em;

        &:hover {
            background-color: #444444;
        }
    }
}

button {
    background-color: #dcd6f7;
    border-radius: 0.4em;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.625em;
    width: 80%;
    border: 0.01em solid #dcd6f7;
    margin: 1em auto;
}

.voorkeurenLabel {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    text-align: center;
}

.voorkeurenH {
    text-align: center;
    color: #242424;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 1em;
}

.voorkeurenP {
    text-align: center;
    color: #242424;
    font-size: 1.2em;
    margin: 1em auto;
}

.alert {
    color: red;
}
