$border-color: #ccc;
$select-background-color: #fbf5ff;
$label-margin-bottom: 0.625em;

$background-image: url("../images/paws2.jpg");
$primary-color: #242424;
$secondary-color: #4e4c67;
$background-color: #ffffff;
$hover-color: #a6b1e1;
$input-border-color: #dcd6f7;
$placeholder-border-color: #98e6bf;

.background-image2 {
    background-image: $background-image;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#voorkeurenForm {
    border: 0em solid $secondary-color;
    background-color: $background-color;
    max-width: 25em;
    padding: 1.25em;
    display: block;
    position: absolute;
    left: 100%;
    top: 4em;
    -webkit-transform: translate(-100%, -0%);
    -ms-transform: translate(-100%, -0%);
    transform: translate(-100%, -0%);

    label {
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        margin: 0;
        text-align: left;
        padding-left: 3.5em;
    }
    p {
        display: block;
        font-weight: bold;
        font-size: 0.8em;
        margin: 0.5em;
        color: #a6b1e1;
    }
}

select {
    border: 0.01em solid #4e4c67;
    border-radius: 0.1875em;
    font-size: 1em;
    padding: 0.5em;
    width: 80%;
    display: block;
    margin: 1em auto;
    margin-top: 0.2em;
}

button {
    background-color: $input-border-color;
    border-radius: 0.4em;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 0.625em;
    width: 80%;
    border: 0.01em solid #dcd6f7;
    margin: 1em auto;
}

.voorkeurenLabel {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0;
    text-align: center;
}

.voorkeurenH {
    text-align: center;
    color: #242424;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: -0.5em;
}

.voorkeurenP {
    text-align: center;
    color: #242424;
    font-size: 1.2em;
    margin: 1em auto;
}

.selected {
    background-color: #a6b1e1;
}
